if SHIELD_CORNIE_LEFT

config ZMK_KEYBOARD_NAME
    default "Cornie"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNIE_LEFT || SHIELD_CORNIE_RIGHT

config ZMK_SPLIT
    default y

endif
