# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNIE_LEFT
    bool "Cornie Left"
    def_bool $(shields_list_contains,cornie_left)

config SHIELD_CORNIE_RIGHT
    bool "Cornie Right"
    def_bool $(shields_list_contains,cornie_right)
